{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    
    <link rel="alternate icon" href="/static/main/assets/img/fav.png">
    <link rel="icon" type="image/svg+xml" href="/static/main/assets/img/fav.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="AIBRA, Recruitment, NFT, Artificial Intelligence, Decentralized, Cryptocurrency, Crypto, Blockchain, Solana, BSC, Metaverse, Ethereum, Decentralize, Solana, SOL, SPL, Cross-Chain, Trading, Fastest, Fast, Job, Hiring, Recruitment Agency, Recruitment, Remote, Freelance, On-site "/>

    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:title" content="AIBRA"/>
    <meta name="twitter:title" content="AIBRA"/>
    <meta name="twitter:image:width" content="400" />
    <meta name="twitter:image:height" content="300" />
    <meta name="twitter:image:src" content="https://aibra.io/static/main/assets/img/fav.png" >

    <meta name="twitter:description" content="AIBRA.io presents an Online fully decentralized blockchain based recruitment system which aims to revolutionize job recruitment.
    "/>
    <meta property="og:description" content="AIBRA.io presents an Online fully decentralized blockchain based recruitment system which aims to revolutionize job recruitment."/>

    
    <meta name="description" content="AIBRA.io presents an Online fully decentralized blockchain based recruitment system which aims to revolutionize job recruitment." content="IE=edge"/>

    <title>AIBRA - Artifical Intelligence and Blockchain Enabled Recruitment App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/main/assets/img/fav.png"/>
    
    <link rel="alternate icon" href="/static/main/assets/img/fav.png">
    <link rel="shortcut icon" href="/static/main/assets/img/fav.png" type="image/x-icon">
    <link rel="icon" href="/static/main/assets/img/fav.png" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta property="og:title" content="AIBRA"/>
    <link rel="icon" href="https://aibra.io/static/main/assets/img/fav.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://aibra.io/static/main/assets/img/fav.png" type="image/x-icon">
    <title>AIBRA - Artifical Intelligence and Blockchain Enabled Recruitment App</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/feather.css' %}"><!-- FEATHER ICON SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.carousel.min.css' %}"><!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.min.css' %}"><!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/lc_lightbox.css' %}"><!-- Lc light box popup -->     
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-select.min.css' %}"><!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap5.min.css' %}"><!-- DATA table STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select.bootstrap5.min.css' %}"><!-- DASHBOARD select bootstrap  STYLE SHEET  -->     
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dropzone.css' %}"><!-- DROPZONE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/scrollbar.css' %}"><!-- CUSTOM SCROLL BAR STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/datepicker.css' %}"><!-- DATEPICKER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/flaticon.css' %}"> <!-- Flaticon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}"><!-- MAIN STYLE SHEET --> 
    <script src="https://cdn.jsdelivr.net/npm/metamask-web3-provider/dist/metamask-web3-provider.min.js"></script> 
    


<script type="text/javascript" async src="https://cdn.embr.org/embeddables.es.js"></script>
 <script type="text/javascript">
 (function(){if(!window.EMBR){const t=[];window.EMBR={_init:t,mount:e=>t.push(e)}}})()
 /* START EMBED CODE */
 
 window.EMBR.mount({
     type: 'CheckoutLaunchButton',
     options: {
         checkoutId: '01G6YXM7VT0H7RAKBDZFZ8NGCG',
         theme: 'custom',
         backgroundColor: '#24695C',
         cropLogo: false
     }
 })
 
 /* END EMBED CODE */
 </script>

</head>

<body>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="wrapper">
                <div class="cssload-loader"></div>
            </div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

	<div class="page-wraper">
 
        

{% block content %}


{% endblock %}

        



<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script  src="{% static 'assets/js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script  src="{% static 'assets/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="{% static 'assets/js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="{% static 'assets/js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script  src="{% static 'assets/js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script  src="{% static 'assets/js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script  src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'assets/js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script  src="{% static 'assets/js/theia-sticky-sidebar.js' %}"></script><!-- STICKY SIDEBAR  -->
<script  src="{% static 'assets/js/lc_lightbox.lite.js' %}" ></script><!-- IMAGE POPUP -->
<script  src="{% static 'assets/js/bootstrap-select.min.js' %}"></script><!-- Form js -->
<script  src="{% static 'assets/js/dropzone.js' %}"></script><!-- IMAGE UPLOAD  -->
<script  src="{% static 'assets/js/jquery.scrollbar.js' %}"></script><!-- scroller -->
<script  src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script><!-- scroller -->
<script  src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'assets/js/dataTables.bootstrap5.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'assets/js/chart.js' %}"></script><!-- Chart -->
<script  src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->

<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
<script src="{% static 'js/index2.js' %}"></script>

</body>


</html>


            
             


            
        </header>
        <!-- HEADER END -->